.dew-upload-container{
  width: 100%;
  height: 100%;
  position: relative;
}
.upload-file-container {
  .upload-file-area {
    width: 60%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    cursor: pointer;
    border: 1px solid #1296db;
  }
  .upload-file-input {
    display: none;
  }
}