.dew-editor-container {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid #999;
  .dew-editor-menu-container {
    width: 100%;
    height: 60px;
    line-height: 60px;
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    box-sizing: border-box;
    justify-content: space-between;
    border-bottom: 1px solid #999;
    .dew-editor-tools{
      width: 60%;
      display: flex;
      flex-direction: row;
    }
    .dew-editor-theme-menu{
      width: 40%;
    }
    .split-line{
      width: 1px;
      margin: 0 8px;
      background-color: #eee;
    }
    .dww-editor-menu-item {
      float: left;
      padding: 0 4px;
      cursor: pointer;
    }
    .dew-editor-builtin-menu {
      line-height: 60px;
    }
  }
  .dew-editor-main-area {
    flex-grow: 1;
    textarea {
      width: 100%;
      height: 100%;
      border: none;
      resize: none;
      outline: none;
      font-size: 16px;
      line-height: 1.5;
      font-family: arial, sans-serif;
    }
    .dew-editor-preview-area {
      height: 100%;
      box-sizing: border-box;
      overflow-y: auto;
      box-sizing: border-box;
      font-family: arial, sans-serif;
    }
  }

  .clipboard-box {
    position: absolute;
    z-index: -1;
    visibility: hidden;
  }
}


.dew-editor-main-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  .dew-editor-text-area {
    background-color: #fff;
    position: relative;
    float: left;
    .dew-editor-textarea {
      position: absolute;
      top: 0;
      right: 5px;
      bottom: 0;
      left: 0;
      padding: 16px;
      overflow: hidden;
    }
    .dew-editor-resize-bar {
      width: 50vw;
      height: inherit;
      resize: horizontal;
      cursor: ew-resize;
      cursor: col-resize;
      opacity: 0;
      overflow: scroll;
    }
    /* 拖拽线 */
    .dew-editor-resize-line {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      border-right: 2px solid #eee;
      border-left: 1px solid #bbb;
      pointer-events: none;
    }
    .dew-editor-resize-bar:hover ~ .dew-editor-resize-line,
    .dew-editor-resize-bar:active ~ .dew-editor-resize-line {
      border-left: 1px dashed skyblue;
    }
    .dew-editor-resize-bar::-webkit-scrollbar {
      width: 50vw;
      height: inherit;
    }
  }
  .dew-editor-preview-area {
    padding: 16px;
    background-color: #eee;
    box-sizing: border-box;
    overflow: hidden;
  }
}

/* Firefox只有下面一小块区域可以拉伸 */
@supports (-moz-user-select: none) {
  .dew-editor-resize-bar:hover ~ .dew-editor-resize-line,
  .dew-editor-resize-bar:active ~ .dew-editor-resize-line {
    border-left: 1px solid #bbb;
  }
  .dew-editor-resize-bar:hover ~ .dew-editor-resize-line::after,
  .dew-editor-resize-bar:active ~ .dew-editor-resize-line::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: 0;
    right: -8px;
    background-size: 100% 100%;
  }
}

.dew-markdown-preview-menu {
  cursor: pointer;
}